h1, h2, h3, h4, p, ul, li {
  color: $blue_dark;
  font-family: 'Avenir Next', 'Muli', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 400;
}

h3 {
  font-size: 2.25em;
}

h4, p {
  font-size: 1.1em;
}
